.allsafe{
    background-color: #B0C4DE;

    padding: -1px -2px 5px;
    
   
    
   
   
}

.allsafe-1 {
    display:grid;
    margin: 15px 500px;
}

.principal-2 {
    height: 955px;
    width: 250px;
    background-color: #2F405A;
    margin: 0;
    border: 15px;
    height: 100vh;
}