
.configuracao-1 {
    display: inline-block;
    margin: 0vh 85vh;
    text-align: justify;
}

.teste {
    display: grid;
    text-align: justify;
    margin: 3vh

}

.configuracao img {
    display: inline-block;
    margin: 0 0 2vh;
    padding: 0 0 3vh;
}