.allsafe {
    display: inline-block;
    margin: 15vh 85vh;
    text-align: justify;

}

.allsafe img {
    display: inline-block;
    margin: 0 0;

}

.link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}