.banner img {
    width: 10%;
    display: flex;
    margin: 0 100vh;

    
}

.logo img {

    width: 25%;

}

.banner {
    background-color: #DCDCDC;
    position: fixed;
}

@media screen and (max-width: 780px) {
    
.banner img {
    margin: 25px 175px;
    width: 60px;
}
  

   
}


