.principal {
    background-color:  	#B0C4DE;
    width: 100%;
    margin: 0 0 -650px;
    width: 100%;
    
}
.teste {
    margin: 630px 650px;
    text-align: justify;
    display: grid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
   
   
   
    
    
    
}


.principal img {
    
    text-align: center;
    margin: 50px 50px;
    
    

}

